---
import '../../src/styles/global.css'
import Navigation from '../components/Navigation.astro'
import { Image } from 'astro:assets'
import FeedBear from '../../src/images/FeedBear.png'
import MobiLoud from '../../src/images/MobiLoud.png'
import MixBloom from '../../src/images/MixBloom.png'
import BrandIdentity from '../../src/images/brand-identity.png'
import Design from '../../src/images/design.png'
import Development from '../../src/images/development.png'
import Card from '../components/Card.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
    <body>
        <Navigation />
        <section>
            <div class="container flex flex-col items-center">
                    <h1 class="text-6xl text-center text-balance font-semibold leading-tight">Sell more with a marketing website crafted to convert.</h1>
                    <p class="text-center text-pretty text-xl mt-5 text-neutral-300 mb-7" style="max-width: 45ch;">We design and develop beautiful, performant, and maintainable websites for the best marketing teams.</p>
                    <div class="flex flex-row gap-3">
                        <button class="primary-cta">View pricing</button>
                        <button class="secondary-cta">Contact Us</button>
                    </div>
            </div>
            <div class="flex flex-row justify-center gap-16 mt-20 overflow-x-hidden">
                <Image src={MobiLoud} alt="MobiLoud" />
                <Image src={FeedBear} alt="FeedBear" />
                <Image src={MobiLoud} alt="MobiLoud" />
                <Image src={MixBloom} alt="MixBloom" />
                <Image src={MobiLoud} alt="MobiLoud" />
            </div>
        </section>

        <section>
            <div class="container flex flex-col items-center mb-20">
                <div class="text-center text-orange-300 font-normal text-lg">Our services</div>
                <h2 class="text-4xl text-center text-balance font-semibold mt-5 leading-tight" style="max-width: 20ch;">Great sites are the culmination of many disciplines</h2>
            </div>

            <div class="container flex flex-col gap-24">
                <div class="grid grid-cols-2 gap-20 items-center">
                    <div>
                        <div class="text-xl font-medium mb-3">Brand identity</div>
                        <p class="text-lg text-pretty">Your brand identity serves as the foundation of your online presence. With stunning design, we'll craft yours to stand out and drive business results.</p>
                    </div>
                    <Image src={BrandIdentity} alt="Brand Identity" />
                </div>

                <div class="grid grid-cols-2 gap-20 items-center">
                    <Image src={Design} alt="Design" />
                    <div>
                        <div class="text-xl font-medium mb-3">Design</div>
                        <p class="text-lg text-pretty">Your brand identity serves as the foundation of your online presence. With stunning design, we'll craft yours to stand out and drive business results.</p>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-20 items-center">
                    <div>
                        <div class="text-xl font-medium mb-3">Development</div>
                        <p class="text-lg text-pretty">Your brand identity serves as the foundation of your online presence. With stunning design, we'll craft yours to stand out and drive business results.</p>
                    </div>
                    <Image src={Development} alt="Development" />
                </div>

                <div class="grid grid-cols-2 gap-20 items-center">
                    <div class="relative">
                        <div class="bg-gradient-to-b from-transparent via-neutral-900 via-90% to-zinc-900 z-10 absolute w-full h-full"></div>
                        <Card>
                            <div class="text-2xl mb-7">Homepage copy - Sept 2024</div>
                            <div>
                                <svg width="100%" height="100%" viewBox="0 0 325 144" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.266113" y="0.0898438" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="45.2661" y="0.0898438" width="87" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="142.266" y="0.0898438" width="59" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="211.266" y="0.0898438" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="256.266" y="0.0898438" width="52" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="14" width="59" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="69.2661" y="14" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="114.266" y="14" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="159.266" y="14" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="204.266" y="14" width="87" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="27.9102" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="45.2661" y="27.9102" width="51" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="106.266" y="27.9102" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="151.266" y="27.9102" width="67" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="228.266" y="27.9102" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="273.266" y="27.9102" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="41.8203" width="28" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="38.2661" y="41.8203" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="83.2661" y="41.8203" width="56" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="149.266" y="41.8203" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="194.266" y="41.8203" width="68" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="272.266" y="41.8203" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="55.7305" width="53" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="63.2661" y="55.7305" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="108.266" y="55.7305" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="153.266" y="55.7305" width="28" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="191.266" y="55.7305" width="50" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="251.266" y="55.7305" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="69.6406" width="71" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="81.2661" y="69.6406" width="86" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="177.266" y="69.6406" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="222.266" y="69.6406" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="83.5508" width="87" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="97.2661" y="83.5508" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="142.266" y="83.5508" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="187.266" y="83.5508" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="232.266" y="83.5508" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="277.266" y="83.5508" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="97.4609" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="45.2661" y="97.4609" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="90.2661" y="97.4609" width="69" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="169.266" y="97.4609" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="214.266" y="97.4609" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="259.266" y="97.4609" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="111.371" width="102" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="112.266" y="111.371" width="62" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="184.266" y="111.371" width="32" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="226.266" y="111.371" width="25" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="261.266" y="111.371" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="125.281" width="49" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="59.2661" y="125.281" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="104.266" y="125.281" width="117" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="231.266" y="125.281" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="276.266" y="125.281" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="0.266113" y="139.191" width="61" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="71.2661" y="139.191" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="116.266" y="139.191" width="35" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                <rect x="161.266" y="139.191" width="47" height="3.91016" rx="1.95508" fill="#4F4F4F"/>
                                </svg>
                            </div>
                        </Card>
                    </div>
                    <div>
                        <div class="text-xl font-medium mb-3">Copywriting</div>
                        <p class="text-lg text-pretty">Your brand identity serves as the foundation of your online presence. With stunning design, we'll craft yours to stand out and drive business results.</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
