---
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
// import authorsData from '../data/authors.json';
// // const {frontmatter} = Astro.props;
// // const {authors} = authorsData;
---
{allPosts.map(post => (
    <a href={post.url} class="flex flex-row justify-between align-middle border-t border-b border-neutral-700 py-2 px-1">
        <div class="max-w-[75%]">{post.frontmatter.title}</div>
        <div class="text-neutral-400">{post.frontmatter.tags}</div>
    </a>
))}
