---
import '../../src/styles/global.css'
import { Image } from 'astro:assets'

const {title, description, link, image, tags} = Astro.props;
---
<div class="square-card pt-8 p-0 mb-8 overflow-hidden">
    <div class="lg:grid lg:grid-cols-[1fr_1.5fr] flex flex-col gap-10 items-start">
        <div class="flex flex-col justify-between px-8 h-full pb-8">
            <div>
                <div class="text-xl font-medium mb-3">{title}</div>
                <p class="text-base text-pretty text-neutral-300 mb-4">{description}</p>
                <a href={link} target="_blank" rel="noopener noreferrer" class="flex flex-row gap-1 items-center">
                    <div class="text-base text-orange-300 font-medium">Visit website</div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FDBA74"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                </a>
            </div>
            <div class="flex flex-row flex-wrap items-start gap-2 mt-8">
                {tags.map(tag => (
                    <div class="tag">{tag}</div>
                ))}
            </div>
        </div>
        <div class='h-96 w-[110%] overflow-hidden pl-7 lg:pl-0'>
            <Image class='w-full h-full object-cover object-left-top' src={image} alt="MobiLoud"/>
        </div>
    </div>
</>
