---
const { techByCategory } = Astro.props;
---

<div class="flex flex-col gap-8" id="wappalyzer-tech-data">
    {Object.entries(techByCategory).length > 0 ? (
        Object.entries(techByCategory).map(([category, techs]) => (
            <div data-category={category}>
                <h3 class="text-xl font-medium mb-4">{category}</h3>
                <div class="grid lg:grid-cols-2 gap-4">
                    {techs.map((tech) => (
                        <a href={`${tech.website}?ref=crftlookup`} target="_blank" id={tech.categories?.[0]?.slug} class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all" data-tech-name={tech.name} data-tech-icon={tech.icon}>
                            <div id={tech.slug} class="flex flex-row gap-2 items-center">
                                <img src={`/icons/${tech.icon}`} class="w-5 h-5" alt="" />
                                <div>{tech.name}</div>
                            </div>
                            <div class="text-pretty">{tech.description}</div>
                            <svg class="absolute top-0 right-0 mt-3 mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg>
                        </a>
                    ))}
                </div>
            </div>
        ))
    ) : (
        <div class="text-neutral-300">No technology data available</div>
    )}
</div>
