---
import HeadScripts from "../components/HeadScripts.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GlossaryNav from "../components/GlossaryNav.astro";
import TableOfContents from "../components/TableOfContents.astro";

const {frontmatter, headings} = Astro.props;
const alphabet = [...'ABCDEFGHIJKLMNOPQRSTUVWXYZ'];
const glossaryPages = Object.values(import.meta.glob('../pages/glossary/*.mdx', {eager: true}));

const sortedPages = glossaryPages.sort((a, b) => {
    const urlA = a.url.split('/').filter(Boolean).pop();
    const urlB = b.url.split('/').filter(Boolean).pop();
    return urlA.localeCompare(urlB);
});

const currentIndex = sortedPages.findIndex(page =>
    page.url.split('/').filter(Boolean).pop() === Astro.url.pathname.split('/').filter(Boolean).pop()
);

const prevPage = currentIndex > 0 ? sortedPages[currentIndex - 1] : sortedPages[sortedPages.length -1];
const nextPage = currentIndex < sortedPages.length - 1 ? sortedPages[currentIndex + 1] : sortedPages[0];

console.log("Current URL:", Astro.url.pathname);
console.log("Page URLs:", glossaryPages.map(p => p.url));

// make internal linking dynamic, and done at build time
// sidebar letter highlighting
---

<html lang="en">
    <head>
        <HeadScripts
        title={`${frontmatter.title} | CRFT Glossary`}
        description={`${frontmatter.description} | CRFT Glossary`}
        ogImageUrl="https://www.crft.studio/open-graph-img.png"
        />
    </head>

    <body>
        <Navigation/>
        <section class="mb-20 lg:mt-20 mt-10">
            <div class="container">
                <div class="lg:grid lg:grid-cols-[0.25fr_1fr] gap-14">
                    <div>
                        <aside id="sidebar" class="sticky top-32 mt-2 min-w-[200px]">
                            <a href="/glossary" class="font-normal text-neutral-300 lg:block hidden hover:text-neutral-100 mb-5">← Glossary</a>
                            <div id="toc" class="lg:mb-0 mb-7 lg:overflow-y-auto lg:h-[90vh] lg:pb-24">
                                <TableOfContents headings={headings} levels={3} />
                                <div class="p-3 px-4 rounded-sm border border-neutral-700 shadow-md mt-4">
                                    <div class="text-base mb-1 font-medium text-neutral-50">Want a new website?</div>
                                    <div class="text-base text-neutral-300 mb-2">We design and develop beautiful, performant, and maintainable sites for the best marketing teams.</div>
                                    <a href="/audit" class="text-base text-orange-300">Get a free site audit →</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="min-w-0">
                        <div class="sticky top-[107px] w-full">
                            <GlossaryNav highlightedLetter={frontmatter.term[0]}/>
                        </div>
                        <article class="lg:p-10 p-5 rounded-sm border border-neutral-700 shadow-md mt-3">
                            <a href="/glossary" class="text-neutral-400 hover:underline">The Web Design Glossary</a>
                            <h1 class="lg:text-5xl text-4xl text-pretty font-serif font-semibold mb-1 mt-4 leading-tight">{frontmatter.term}</h1>
                            <div class="text-lg mb-8">{frontmatter.pronunciation}</div>
                            <div class="blog-content">
                                <slot/>
                            </div>
                        </article>
                        <div>
                            <div class="flex flex-row mt-5 gap-5">
                                <a href={prevPage?.url} class="hover:bg-neutral-800 transition-all w-1/2 p-5 rounded-sm border border-neutral-700 shadow-md text-left" style={!prevPage ? "display: none" : ""}>
                                    <div class="text-neutral-400 mb-2">← Previous</div>
                                    <div>{prevPage?.frontmatter.term}</div>
                                </a>
                                <a href={nextPage?.url} class="hover:bg-neutral-800 transition-all w-1/2 p-5 rounded-sm border border-neutral-700 shadow-md text-right" style={!nextPage ? "display: none" : ""}>
                                    <div class="text-neutral-400 mb-2">Next →</div>
                                    <div>{nextPage?.frontmatter.term}</div>
                                </a>
                            </div>
                            <!-- astro.glob returns an array of file paths. have it ordered in alphabetical order, then find the one you're on, and link to the path above and before it in the buttons -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <Footer/>

        <script>
        import $ from 'jquery';

        const moveTocOnMobile = () => {
            if ($(window).width() < 1024) {
                $("#toc").insertBefore("h2:first");
            } else {
                $("#toc").appendTo("#sidebar");
            }
        };

        $(document).ready(moveTocOnMobile);
        $(window).resize(moveTocOnMobile);
        </script>
    </body>
</html>
