---
import Navigation from '../components/Navigation.astro'
import { Image } from 'astro:assets'
import authorsData from '../data/authors.json'
const {frontmatter} = Astro.props
const {authors} = authorsData
import Jeremy from '../images/jeremy-pfp.png'
import David from '../images/david-pfp.png'

const authorImages = {
    Jeremy: Jeremy,
    David: David
};
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
    	<Navigation/>
        <section class="mt-24">
            <div class="container max-w-[800px]">
                <div class="mb-4">Published on {frontmatter.pubDate}</div>
                <h1 class="text-4xl font-semibold leading-tight mb-5">{frontmatter.title}</h1>
                <div class="flex flex-row flex-wrap gap-8 items-center">
                    {frontmatter.author.map((authorName) => (
                        <div class="flex flex-row gap-2 mb-7 items-center">
                            <Image
                                src={authorImages[authorName]}
                                alt={authors[authorName].name}
                                width={40}
                                height={40}
                                class="rounded-full"
                            />
                            <div class="text-lg font-normal text-neutral-200">By {authors[authorName].name}</div>
                        </div>
                    ))}
                </div>
                <article class="prose prose-lg text-neutral-50 leading-normal prose-h1:text-2xl prose-h1:font-medium prose-headings:text-neutral-200">
                    <slot/>
                </article>
            </div>
        </section>
	</body>
</html>
